<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body class = "grey-bg">

    <%- include('nav.ejs') %>

    <div class="white-bg">
        <% for (let i = 0; i < posts.length; i++){ %>
        <div class="list-box">
            <div class="gang">
                <h4><a href="/detail/<%= posts[i]._id %>"><%= posts[i].title %></a></h4>
                <button class="skr"><a href="/updatee/<%= posts[i]._id %>">욜</a></button>
                <button class="delete" data-id="<%=posts[i]._id%>">👹</button>
            </div>
            <p><%= posts[i].content %></p>
        </div>
        <% } %>
    </div>
    <div>
    <button class="page">1</button>
    <button class="page">2</button>
    <button class="page">3</button>
    </div>
    <!-- <a href="/list/next/<%=posts[posts.length-1]._id%>">다음</a> -->

<script>
    let deletes = document.querySelectorAll('.delete');
    for(let i=0; i<deletes.length;i++){
        deletes[i].addEventListener('click', function(e){
        fetch('/delete?docid=' + e.target.dataset.id, {
            method : 'DELETE',
        })
        .then((r)=>r.text())
        .then((r)=>{
            e.target.parentElement.parentElement.style.display = 'none';
        })

    })
}


const button = document.querySelector('.page');
function change(){
    button.style.color = "red";
}

button.addEventListener('click', change)



    // fetch('/url')
    // .then((r)=>{
    //     if(r.status==200){
    //         return r.json()
    //     } else{

    //     }
    // })
    // .then((result)=>{

    // }).catch((error)=>{
        
    // })
    
</script>
</body>
</html>