<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body class = "grey-bg">

    <%- include('nav.ejs') %>
    <input class="search">
    <button class="search-send">검색</button>

    <script>
        document.querySelector('.search-send').addEventListener('click', function
        (){
            let searchBox = document.querySelector('.search').value
            location.href = '/search?val=' + searchBox +'&page=' + 1
        })
    </script>

    <h4>검색결과</h4>

    <div class="white-bg">
        <% for (let i = 0; i < posts.length; i++){ %>
        <div class="list-box">
            <div class="gang">
                <h4><a href="/detail/<%= posts[i]._id %>"><%= posts[i].title %></a></h4>
                <button class="skr"><a href="/update/<%= posts[i]._id %>">욜</a></button>
                <button class="delete" data-id="<%=posts[i]._id%>">👹</button>
            </div>
            <p><%= posts[i].content %></p>
        </div>
        <% } %>
    </div>

<script>
    let deletes = document.querySelectorAll('.delete');
    for(let i=0; i<deletes.length;i++){
        deletes[i].addEventListener('click', function(e){
        fetch('/delete?docid=' + e.target.dataset.id, {
            method : 'DELETE',
        })
        .then((r)=>r.text())
        .then((r)=>{
            e.target.parentElement.parentElement.style.display = 'none';
        })

    })
}
</script>

</body>
</html>